#navbar {
  height: 70px;
  width: 100%;
  background: linear-gradient(to right, #fb492c, #ff4749);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.rightItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.navLinks li {
  padding: 8px 15px;
  border-radius: 5px;
}

.signupbtn {
  background-color: white;
  color: black;
}

.signupbtn:hover {
  cursor: pointer;
}

.loginbtn:hover,
.logout:hover {
  background-color: rgba(255, 255, 255, 0.167);
  cursor: pointer;
}

.logout {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}

.menuIcon {
  display: none;
  cursor: pointer;
  align-items: center;
}

.darkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navLinks {
    display: none;
    align-items: flex-start;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fb492c;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
  }

  .showMenu {
    display: flex;
    background: linear-gradient(to right, #d5867a, #fb492c);
    border-radius: 0 0 10px 10px;
    width: 30%;
  }

  .darkWrapper {
    margin-left: auto;
    /* align-items: center; */
  }
}